{{ define "main" }}

{{ .Content }}

{{/* Intro summary section */}}
{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent }}
<div class="intro"
     style="display: flex; align-items: flex-start; gap: 4rem; margin-top: -3rem; width: 50vw; max-width: 1600px; margin-left: auto; margin-right: auto;">
    <!-- Left column: image + icons -->
    <div style="display: flex; flex-direction: column; align-items: center; flex: 1 1 0;">
        <img
            src="{{ "images/falck_circle.png" | relURL }}"
            alt="Fabian Falck"
            style="max-width:200px; height:auto; margin-top:5rem;"
        />
        {{ with site.Params.social }}
        <div class="social-icons" style="margin-top: 1rem; font-size: 2rem;">
            {{- range . }}
            <a href="{{ trim .url " " | safeURL }}" title="{{ .name }}">
                {{ partial "svg.html" . }}
            </a>
            {{- end }}
        </div>
        {{ end }}
    </div>
    <!-- Right column: text + blog -->
    <div style="flex: 3 1 0;">
        {{ with .Site.Params.homeIntroTitle }}
        <h1>{{ . }}</h1>
        {{ end }}
        {{ with .Site.Params.homeIntroContent }}
        <div>{{ . | markdownify }}</div>
        {{ end }}

        {{ if .Site.Params.homeCollection }}
        <div class="list-container">
            {{ with .Site.Params.homeCollectionTitle}}
            <h1> {{ . }} </h1>
            {{ end }}

            {{ $pages := where .Site.RegularPages "Section" .Site.Params.homeCollection }}
            {{ $paginationSize := 1}}
            {{ if (gt .Site.Params.paginationSize 0) }}
            {{ $paginationSize = .Site.Params.paginationSize }}
            {{ end }}

            {{ $paginator := .Paginate $pages $paginationSize }}

            {{ range $index, $page := $paginator.Pages }}
            {{ partial "post-entry.html" $page}}
            {{ end }}

            {{ partial "pagination-controls.html" $paginator}}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ end }}